<ul class="nav nav-tabs pt-3 bg-light" id="myTab" role="tablist">
    {% with request.resolver_match.url_name as url_name %}
    <li class="nav-item pl-3">
        <a class="nav-link {% if 'tasks_list' in url_name %}active{%endif%}" href="{% url 'tasks_list' %}">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if 'tasks_success_list' in url_name %}active{%endif%}"
            href="{% url 'tasks_success_list' %}">Success</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if 'tasks_failure_list' in url_name %}active{%endif%}"
            href="{% url 'tasks_failure_list' %}">Failure</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if 'ormq_list' in url_name %}active{%endif%}"
            href="{% url 'ormq_list' %}">Queued</a>
    </li>
    {% endwith %}
</ul>